
<header class="row">
  <h1 class="col-12">Hero Burger</h1>
</header>

<div class= "form">
  <h2>Add to Que</h2>

  <form class="create-form">

    <div class="form-group row">
      <div class="col-2"></div>
      <input class="col-5" type="text" id="burgerType" name="name" placeholder="burger name">
      <div class="col-1"></div>
      <button type="submit" class="col-2 btn btn-primary btn-lg">Add Burger</button>
      <div class="col-3"></div>
    </div>

  </form>
</div>

<main>
  <h2>Ready to Eat</h2>

  <ul class="row">
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>

  <h2>Ready to Toss</h2>

  <ul class="row">
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/if}}
    {{/each}}
  </ul>
</main>
