html {
  background-image: url("../img/burger-background.jpg");
  font-family: 'Open Sans', sans-serif;
}

.container {
  background: transparent;
}

/* HEADER */

h1 {
  font-family: 'Modak', cursive;
  text-align: center;
  margin-top: 3rem;
}

/* BURGER FORM */

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
  }
    
  .form-group {
  margin-bottom: 5px;
  }

/* BOURGER OUTPUT   */

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
label {
    font-weight: bold;
}
  
img {
  width: 1.5rem;
}
  