html {
  background-image: url("../img/burger-background.jpg");
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.container {
  background: transparent;
}

/* HEADERS */

h1 {
  font-family: 'Modak', cursive;
  text-align: center;
  padding-top: 3rem;
  font-size: 4.5rem !important;
}

h2 {
  background: #faebd7;
  padding: 1rem;
  border: 0.15rem solid #000;
  border-radius: 2%;
  letter-spacing: 0.5rem;;
  text-align: center;
}

/* BURGER FORM */

input { 
  background: rgb(253,201, 94, 0.9);
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.create-form {
  padding: 5px;
  margin: 5px;
  }
    
.form-group {
margin-bottom: 5px;
}

/* BURGER OUTPUT   */

ul {
  list-style: none;
}

li {
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  background: rgb(253,201, 94, 0.9);
  border-radius: 2%;
}

li button {
  float: right;
}
  
label {
    font-weight: bold;
}
  
img {
  width: 1.5rem;
}

/* FOOTER */

footer {
  opacity: 0.8;
  margin-top: 13%;
  text-align: center;
}

footer nav {
  background: rgb(22, 21, 21);
}

footer i {
  margin-top: 1%;
  margin-bottom: 1%;
  color: #fff;
}

footer i:hover {
  opacity: 0.5;
}